<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Document</title>
</head>
<body>
    <div id="header">
        <div class = "banner">
            
            <div class="title">
                <h1>Wolverhampton Wheels</h1>
            </div>
            <div class="nav-buttons">
                <a class="button" href="/index">Home</a>
                <a class="button" href="/cars">Cars</a>
                <a class="button" href="/sales">Sales</a>
                <a class="button" href="/contacts">Contact</a>
                <a class="button" href="/about">About</a>
            </div>
        </div>
    </div>

    
    <div class="body">
        <h1>Car Sales</h1>
        <table border = "1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Make</th>
                    <th>Registration</th>
                    <th>Model</th>  
                    <th>Year</th>
                    <th>Price</th>  
                </tr>
            </thead>
            <tbody> 
                {% for row in cars%}
                <tr>    
                    <td>{{ row['ID'] }}</td>
                    <td>{{ row['MAKE'] }}</td>
                    <td>{{ row['REGISTRATION'] }}</td>
                    <td>{{ row['MODEL'] }}</td>
                    <td>{{ row['YEAR'] }}</td>
                    <td>{{ row['PRICE'] }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        <table border = "1"> 
            <thead> 
                <tr> 
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Registration</th>
                </tr>
            </thead>
            <tbody>
                {% for row in customers %}
                <tr>
                    <td>{{ row['NAME'] }}</td>
                    <td>{{ row['EMAIL'] }}</td>
                    <td>{{ row['PHONE'] }}</td>
                    <td>{{ row['REGISTRATION'] }}</td>
                </tr>
                {% endfor %}
        </table>"
    </div>



    <div class="footer">
        <div class="footer-content">
            <p>&copy; 2025 Wolverhampton Wheels. All rights reserved.</p>
            <p>Follow us on:
                <a href="#">Facebook</a>,
                <a href="#">Twitter</a>,
                <a href="#">Instagram</a>
            </p>
        </div>
    </div>
</body>
</html>