<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Document</title>
</head>
<body>
    <div id="header">
        <div class = "banner">
            
            <div class="title">
                <h1>Wolverhampton Wheels</h1>
            </div>
            <div class="nav-buttons">
                <a class="button" href="/index">Home</a>
                <a class="button" href="/cars">Cars</a>
                <a class="button" href="/sales">Sales</a>
                <a class="button" href="/contacts">Contact</a>
                <a class="button" href="/about">About</a>
            </div>
        </div>
    </div>

<body>
    <div class="content">  
        <h2> Visual Insights</h2>

        <div class="graphs">
            <div class="graph">
                <h3>Average price by make</h3>
                <img src="{{ url_for('static', filename='graphs/avg_price_per_make.png') }}" alt="Average Price by Make">
            </div>
            <div class="graph">
                <h3>Price by Make</h3>
                <img src="{{ url_for('static', filename='graphs/price_by_make.png') }}" alt="Price by Make">
            </div>
            <div class="graph">
                <h3>Price vs Year</h3>
                <img src="{{ url_for('static', filename='graphs/price_vs_year.png') }}" alt="Price vs Year">
            </div>
        </div>
    </div>
</body>
    <div class="footer">
        <div class="footer-content">
            <p>&copy; 2025 Wolverhampton Wheels. All rights reserved.</p>
            <p>Follow us on:
                <a href="#">Facebook</a>,
                <a href="#">Twitter</a>,
                <a href="#">Instagram</a>
            </p>
        </div>
    </div>
</body>
</html>